# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Import collected city weather as DataFrame
city_weather = pd.read_csv("../WeatherPy/Resources/Sample_Weather_Data.csv")
# Clean cities with no weather data
city_weather_clean = city_weather.dropna()
city_weather_clean.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,"kruisfontein, za",-34.0033,24.7314,59.00,77.0,42.0,3.00,ZA,1.612214e+09
2,"slave lake, ca",55.2834,-114.7690,14.00,92.0,90.0,11.50,CA,1.612214e+09
3,"puerto ayora, ec",-0.7393,-90.3518,84.20,65.0,0.0,12.66,EC,1.612214e+09
4,"provideniya, ru",64.3833,-173.3000,7.45,91.0,100.0,28.99,RU,1.612214e+09
5,"saskylakh, ru",71.9167,114.0833,-30.32,84.0,100.0,7.76,RU,1.612214e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [21]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = city_weather_clean[["Lat", "Lng"]].astype(float)

# Store associated humidity values for weights
humidity = city_weather_clean["Humidity"].astype(float)

humidity

0      77.0
2      92.0
3      65.0
4      91.0
5      84.0
       ...
628    83.0
629    74.0
630    85.0
631    93.0
632    94.0
Name: Humidity, Length: 567, dtype: float64

In [34]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
vacation_weather = city_weather_clean.loc[(city_weather_clean["Max Temp"] < 85) & 
                                          (city_weather_clean["Humidity"] < 85) & 
                                          (city_weather_clean["Wind Speed"] < 15) &
                                          (city_weather_clean["Cloudiness"] < 75)]

vacation_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,"kruisfontein, za",-34.0033,24.7314,59.00,77.0,42.0,3.00,ZA,1.612214e+09
3,"puerto ayora, ec",-0.7393,-90.3518,84.20,65.0,0.0,12.66,EC,1.612214e+09
8,"caucaia, br",-3.7361,-38.6531,82.40,74.0,0.0,12.66,BR,1.612214e+09
11,"deer lake, ca",49.1667,-57.4316,24.80,68.0,40.0,5.75,CA,1.612214e+09
12,"cape town, za",-33.9258,18.4232,68.00,59.0,0.0,5.75,ZA,1.612214e+09
...,...,...,...,...,...,...,...,...,...
613,"goundi, td",9.3627,17.3660,79.23,19.0,0.0,1.41,TD,1.612215e+09
614,"dahegam, in",23.1667,72.8167,59.00,77.0,0.0,6.60,IN,1.612215e+09
619,"khed brahma, in",24.0333,73.0500,63.45,27.0,0.0,5.32,IN,1.612215e+09
624,"tabas, ir",33.5959,56.9244,46.40,39.0,0.0,4.61,IR,1.612215e+09
628,"mahanoro, mg",-19.9000,48.8000,78.98,83.0,9.0,1.77,MG,1.612215e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure