# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
# Import collected city weather as DataFrame
city_weather = pd.read_csv("../WeatherPy/Resources/Sample_Weather_Data.csv")
# Clean cities with no weather data
city_weather_clean = city_weather.dropna()
city_weather_clean.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,"kruisfontein, za",-34.0033,24.7314,59.00,77.0,42.0,3.00,ZA,1.612214e+09
2,"slave lake, ca",55.2834,-114.7690,14.00,92.0,90.0,11.50,CA,1.612214e+09
3,"puerto ayora, ec",-0.7393,-90.3518,84.20,65.0,0.0,12.66,EC,1.612214e+09
4,"provideniya, ru",64.3833,-173.3000,7.45,91.0,100.0,28.99,RU,1.612214e+09
5,"saskylakh, ru",71.9167,114.0833,-30.32,84.0,100.0,7.76,RU,1.612214e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = city_weather_clean[["Lat", "Lng"]].astype(float)

# Store associated humidity values for weights
humidity = city_weather_clean["Humidity"].astype(float)

#humidity

In [22]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
vacation_weather = city_weather_clean.loc[(city_weather_clean["Max Temp"] < 80) &
                                          (city_weather_clean["Max Temp"] > 70) &
                                          (city_weather_clean["Humidity"] < 80) & 
                                          (city_weather_clean["Wind Speed"] < 10) &
                                          (city_weather_clean["Cloudiness"] == 0)]

vacation_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
13,"coihaique, cl",-45.5752,-72.0662,75.20,31.0,0.0,6.91,CL,1.612214e+09
20,"bama, ng",11.5221,13.6856,71.85,21.0,0.0,7.38,NG,1.612214e+09
72,"pisco, pe",-13.7000,-76.2167,77.00,61.0,0.0,8.05,PE,1.612214e+09
196,"sao filipe, cv",14.8961,-24.4956,73.96,67.0,0.0,8.25,CV,1.612214e+09
276,"ratnagiri, in",16.9833,73.3000,77.11,52.0,0.0,6.02,IN,1.612214e+09
356,"soto la marina, mx",23.7667,-98.2167,73.99,32.0,0.0,4.00,MX,1.612214e+09
370,"kaduna, ng",10.5222,7.4383,74.91,20.0,0.0,6.17,NG,1.612215e+09
401,"bosaso, so",11.2842,49.1816,71.35,67.0,0.0,4.14,SO,1.612214e+09
430,"mao, td",14.1212,15.3103,74.57,18.0,0.0,9.51,TD,1.612215e+09
477,"gladstone, au",-23.8500,151.2500,73.40,68.0,0.0,5.75,AU,1.612215e+09
573,"telimele, gn",10.9167,-13.3333,70.90,69.0,0.0,3.49,GN,1.612215e+09
613,"goundi, td",9.3627,17.3660,79.23,19.0,0.0,1.41,TD,1.612215e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
hotel_df = pd.DataFrame(columns=['Lat', 'Lng', 'Hotel Name', 'City', 'Country'])
hotel_df

Empty DataFrame
Columns: [Lat, Lng, Hotel Name, City, Country]
Index: []

In [26]:
target_coordinates = ""
target_radius = 5000
target_type = "lodging"

for index, row in vacation_weather.iterrows():
    # geocoordinates
    lat = vacation_weather.loc[index, "Lat"]
    lng = vacation_weather.loc[index, "Lng"]
    
    target_coordinates = f'{lat}, {lng}'
    hotel_df.loc[index, "Lat"] = lat
    hotel_df.loc[index, "Lng"] = lng
    hotel_df.loc[index, "City"] = vacation_weather.loc[index, "City"]
    hotel_df.loc[index, "Country"] = vacation_weather.loc[index, "Country"]
    
    # set up a parameters dictionary
    params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }

    # base Google Places url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
    try:
        # run a request using assembled params dictionary
        response = requests.get(base_url, params=params)

        places_data = response.json()
    
        hotel_df.loc[index, "Hotel Name"] = places_data["results"][0]["name"]
        #break
    
    except:
        hotel_df.loc[index, "Hotel Name"] = "Unknown"
        
#fig = gmaps.figure()
#params

In [9]:
# convert response to json
#places_data = response.json()

# Print the json (pretty printed)
hotel_df
#print(json.dumps(places_data, indent=4, sort_keys=True))

         Lat      Lng                  Hotel Name                City Country
13  -45.5752 -72.0662  Diego De Almagro Coyhaique       coihaique, cl      CL
20   11.5221  13.6856         UN Humanitarian Hub            bama, ng      NG
72     -13.7 -76.2167    Hotel San Isidro Oficial           pisco, pe      PE
196  14.8961 -24.4956                 Tortuga B&B      sao filipe, cv      CV
276  16.9833     73.3              Hotel Landmark       ratnagiri, in      IN
356  23.7667 -98.2167               Hotel Chicago  soto la marina, mx      MX
370  10.5222   7.4383               HAMDALA HOTEL          kaduna, ng      NG
401  11.2842  49.1816               Red Sea Hotel          bosaso, so      SO
430  14.1212  15.3103                     Unknown             mao, td      TD
477   -23.85   151.25     Highpoint International       gladstone, au      AU
573  10.9167 -13.3333                     Unknown        telimele, gn      GN
613   9.3627   17.366                     Unknown          goundi, td      TD

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [28]:
hotel_layer = gmaps.marker_layer(
    locations, info_box_content=hotel_info)

# Add marker layer ontop of heat map
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦